# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# the following allows us to run giza without doing "python setup.py develop" for some strange reason
export PYTHONPATH=

# (optional) so scripts can run properly from anywhere
export PYTHONPATH=~/code/gelato

# watson
export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.7.0_65.jdk/Contents/Home
export MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=256m"